<div>
    <mat-spinner *ngIf="!showInfo"></mat-spinner>
    <div *ngIf="showInfo | async">
        <div class="pokemon-details-container">
            <mat-card>
                <div class="container">
                    <div fxFlex="flex">
                        <div fxLayout="row" gdAlignRows>
                            <h1 class="pokemon-name">
                                #{{pokemon.id.toString().length == 1 ? '00' : (pokemon.id.toString().length == 2 ? '0' : '')}}{{pokemon.id}} -
                                {{pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)}}
                            </h1>
                            <div class="pokemon-types">
                                <div class="pokemon-type type-1 {{pokemon.types[0].type.name}}">{{pokemon.types[0].type.name.charAt(0).toUpperCase() + pokemon.types[0].type.name.slice(1)}}</div>
                                <div *ngIf="pokemon.types[1] !== undefined" class="pokemon-type type-2 {{pokemon.types[1].type.name}}">{{pokemon.types[1].type.name.charAt(0).toUpperCase() + pokemon.types[1].type.name.slice(1)}}</div>
                            </div>
                        </div>
                        <div class="pokemon-sprites">
                            <span *ngIf="male" class="male">
                                <img [src]="pokemonNormalSpriteURL" (error)="sprite_1.src = pokemon.sprites.front_default; sprite_1.width = 225" alt="{{pokemon.name}}_normal_sprite" #sprite_1 />
                                <img [src]="pokemonShinySpriteURL" (error)="sprite_2.src = pokemon.sprites.front_shiny; sprite_2.width = 225" alt="{{pokemon.name}}_shiny_sprite" #sprite_2 />
                            </span>
                            <span *ngIf="female" class="female">
                                <img [src]="pokemonNormalFemaleSpriteURL" (error)="sprite_3.src = pokemon.sprites.front_default; sprite_3.width = 225" alt="{{pokemon.name}}_normal_female_sprite" #sprite_3 />
                                <img [src]="pokemonShinyFemaleSpriteURL" (error)="sprite_4.src = pokemon.sprites.front_shiny; sprite_4.width = 225" alt="{{pokemon.name}}_shiny_female_sprite" #sprite_4 />
                            </span>
                            <br>
                            <div *ngIf="hasGenderDifferences" class="gender-selection">
                                <fa-icon id="male" [icon]="['fas', 'mars']" (click)="updateGender('male')" [ngClass]="{'selected': male}"></fa-icon>
                                <fa-icon id="female" [icon]="['fas', 'venus']" (click)="updateGender('female')" [ngClass]="{'selected': female}"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="flex">
                        <h2>Description</h2>
                        <select class="version-select" (change)="switchText($event.target.value)">
                            <option>-- Select Game --</option>
                            <option *ngFor="let flavorText of pokemon.flavorTexts; let i = index" value="{{i}}">
                                {{fixVersionName(flavorText.version.name)}}
                            </option>
                        </select>
                        <br>
                        <span class="flavor-text">{{selectedFlavorText}}</span>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>